@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_drop_down");

// TODO: Create needed variables

:root {
  // Colors
  --purple: #b7b1f2;
  --pink: #fdb7ea;
  --lime: #ebe5c2;
  --lime-brown: #504b38;

  --green: #b1c29e;
  --dark-green: #818c78;

  --blue: #c6e7ff;
  --dark-blue: #789dbc;
  --gray-blue: #a6aebf;

  --orange: #ffb38e;
  --dark-orange: #de8f5f;

  --red: #d37676;
  --light-red: #ffd1d1;
  --dark-red: #a87676;

  // Border
  --border-color__dark: #1f2123;
  --border__standar: 2px solid black;

  // font
  --font-size__title: 2rem;
  --font-size__text: 1.6rem;
  --text-color__dark: #1f2123;
  --text-color__light: #f2efe5;

  // sizes
  --size__small: 10rem;
  --size__medium: 15rem;
  --size__large: 30rem;
  --gap: 10rem;
  --border-radius: 10px;
}

* {
  font-size: 10px;
  font-family: "Roboto", serif;
}
