// TODO: Fix colors for this component

.button {
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  border: var(--border__standar);
  background-color: var(--blue);
  color: var(--text-color__dark);
  cursor: pointer;

  &--small {
    min-width: var(--size__small);
    max-width: var(--size__medium);
  }
  &--medium {
    min-width: var(--size__medium);
    max-width: var(--size__large);
  }
  &--large {
    min-width: var(--size__large);
  }

  &--secondary {
    background-color: var(--gray-blue);
    color: var(--text-color__light);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
