// TODO: Fix colors for this component

.container {
  border: 2px solid black;
  border-radius: 10px;
}
.header {
  border-radius: 9px 9px 0 0;
  padding: 0 1.5rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  background-color: var(--light-red);
  h2 {
    font-size: var(--font-size__title);
  }
  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.content {
  padding: 2rem 1rem;
}
.small {
  min-width: 10rem;
  max-width: 15rem;
  .header {
    gap: 0.5rem;
  }
}
.medium {
  min-width: 15rem;
  max-width: 30rem;
}
.large {
  min-width: 30rem;
}
