// TODO: Fix colors for this component

.container {
  border: var(--border__standar);
  border-radius: var(--border-radius);
}
.header {
  border-radius: 9px 9px 0 0;
  padding: 0 1.5rem;
  border-bottom: var(--border__standar);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  margin: 0;
  background-color: var(--light-red);
  h2 {
    font-size: var(--font-size__title);
  }
  &__actions {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
  }
}
.content {
  padding: 2rem 1rem;
}
.small {
  min-width: var(--size__small);
  max-width: var(--size__medium);
  .header {
    gap: 0.5rem;
  }
}
.medium {
  min-width: var(--size__medium);
  max-width: var(--size__large);
}
.large {
  min-width: var(--size__large);
}
.warning {
  .header {
    color: var(--text-color__light);
    background-color: var(--red);
  }
}
.info {
  .header {
    color: var(--text-color__dark);
    background-color: var(--green);
  }
}
